{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}
{% block show_navbar %}{% endblock %}
{% block contents %}

<div class="contain">
  <div class="cards">
    <h2>Sign Up</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="alert 
            {% if message.tags %}
              alert-{{ message.tags }} 
            {% else %}
              alert-info
            {% endif %} 
            alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-custom mt-3 w-50">Sign Up</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}