{% extends 'base.html' %}
{% load static %}
{% block title %}Create Product{% endblock %}

{% block contents %} 

<div class="container py-5">
  <div class="cardd product-form-cardd">
    <h2 class="text-center mb-4">Add New Product</h2>
    <hr class="product-form-divider">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Created by</label>
            <input type="text" name="created_at" value="{{user.username}}" class="form-control" disabled="">
          </div>
        {% for field in form %}
          <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>
{% endblock %}